<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-2005-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,149},{123,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,296},{123,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,149},{123,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{125,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{125,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{123,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,296},{123,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,149},{123,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,149},{123,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{123,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{125,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,296},{123,145}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2005-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{123,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_2005.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09cd001044c8f1daf5310c834369cab5$</string>
            <key>textureFileName</key>
            <string>expression_2005.png</string>
        </dict>
    </dict>
</plist>
