<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-13-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{74,68}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{74,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-13-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,68}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{76,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_13.png</string>
            <key>size</key>
            <string>{80,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0103ce60f2ab4dfc0ea4d3ed8d41fc29$</string>
            <key>textureFileName</key>
            <string>expression_13.png</string>
        </dict>
    </dict>
</plist>
