<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-3-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{75,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{75,78}}</string>
                <key>sourceSize</key>
                <string>{101,86}</string>
            </dict>
            <key>expression-3-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,84}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{95,84}}</string>
                <key>sourceSize</key>
                <string>{101,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_3.png</string>
            <key>size</key>
            <string>{176,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b01110a9a42b4bd31ee0f2a79fbe6d38$</string>
            <key>textureFileName</key>
            <string>expression_3.png</string>
        </dict>
    </dict>
</plist>
