<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-1005-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,318},{113,115}}</string>
                <key>offset</key>
                <string>{23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,19},{113,115}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>expression-1005-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{113,113}}</string>
                <key>offset</key>
                <string>{23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,20},{113,113}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>expression-1005-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,322},{111,111}}</string>
                <key>offset</key>
                <string>{23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,21},{111,111}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>expression-1005-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,141}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{143,141}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>expression-1005-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{137,179}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{137,179}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>expression-1005-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{137,175}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{137,175}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>expression-1005-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,141},{135,175}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{135,175}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>expression-1005-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,183},{137,175}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{137,175}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>expression-1005-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{137,175}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{137,175}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_1005.png</string>
            <key>size</key>
            <string>{468,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf97679fb833280a9aa131b14f047790$</string>
            <key>textureFileName</key>
            <string>expression_1005.png</string>
        </dict>
    </dict>
</plist>
