<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-11-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{65,70}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{65,70}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>expression-11-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,72}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{91,72}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_11.png</string>
            <key>size</key>
            <string>{162,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f56979ffad1a2a9217ccffd80f8a48a6$</string>
            <key>textureFileName</key>
            <string>expression_11.png</string>
        </dict>
    </dict>
</plist>
