<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expressions_icon_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{123,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{123,141}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,502},{121,139}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{121,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{121,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{121,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,625},{123,137}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{123,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,252},{123,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,127},{123,147}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{123,147}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{123,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{123,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,502},{121,139}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{121,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,625},{123,137}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{123,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{123,149}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,149}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,127},{123,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{123,133}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{123,133}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,145}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{155,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,377},{123,139}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{123,149}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{123,149}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{123,145}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{123,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{105,119}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,27},{105,119}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,377},{123,139}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expressions_icon_2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,252},{123,139}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expressions_icon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dc9e23f238560475c6c73ef54d90691$</string>
            <key>textureFileName</key>
            <string>expressions_icon.png</string>
        </dict>
    </dict>
</plist>
