<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-2020-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{123,139}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2020-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{123,139}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2020-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{123,139}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2020-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{123,139}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2020-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{123,139}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2020-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{123,139}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2020-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,139}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,139}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_2020.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5dcb97f5d8fa89d13a79dd40195ede8$</string>
            <key>textureFileName</key>
            <string>expression_2020.png</string>
        </dict>
    </dict>
</plist>
