<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-24-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,73},{69,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{69,68}}</string>
                <key>sourceSize</key>
                <string>{121,90}</string>
            </dict>
            <key>expression-24-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{71,68}}</string>
                <key>sourceSize</key>
                <string>{121,90}</string>
            </dict>
            <key>expression-24-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{69,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{69,68}}</string>
                <key>sourceSize</key>
                <string>{121,90}</string>
            </dict>
            <key>expression-24-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{69,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{69,68}}</string>
                <key>sourceSize</key>
                <string>{121,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_24.png</string>
            <key>size</key>
            <string>{145,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0440d5768153a561749cccc53b65f75$</string>
            <key>textureFileName</key>
            <string>expression_24.png</string>
        </dict>
    </dict>
</plist>
