<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-1006-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,180}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,89},{170,180}}</string>
                <key>sourceSize</key>
                <string>{208,276}</string>
            </dict>
            <key>expression-1006-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{166,180}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,87},{166,180}}</string>
                <key>sourceSize</key>
                <string>{208,276}</string>
            </dict>
            <key>expression-1006-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{162,178}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,88},{162,178}}</string>
                <key>sourceSize</key>
                <string>{208,276}</string>
            </dict>
            <key>expression-1006-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,166},{148,178}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,89},{148,178}}</string>
                <key>sourceSize</key>
                <string>{208,276}</string>
            </dict>
            <key>expression-1006-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,346},{136,170}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,94},{136,170}}</string>
                <key>sourceSize</key>
                <string>{208,276}</string>
            </dict>
            <key>expression-1006-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{134,170}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,94},{134,170}}</string>
                <key>sourceSize</key>
                <string>{208,276}</string>
            </dict>
            <key>expression-1006-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,166},{134,168}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,94},{134,168}}</string>
                <key>sourceSize</key>
                <string>{208,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_1006.png</string>
            <key>size</key>
            <string>{488,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feac2ac983cd86ad8fe96b9c6acb8448$</string>
            <key>textureFileName</key>
            <string>expression_1006.png</string>
        </dict>
    </dict>
</plist>
