<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-1001-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,356},{137,175}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{137,175}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{143,157}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,157}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,181}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,181}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,161},{137,173}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{137,173}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,179},{137,175}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{137,175}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,356},{137,175}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{137,175}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,179},{137,175}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{137,175}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{137,175}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{137,175}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{137,175}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{137,175}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{137,175}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{137,175}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1001-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{137,175}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{137,175}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_1001.png</string>
            <key>size</key>
            <string>{562,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03180029c8be9c42e1ebfa4025937768$</string>
            <key>textureFileName</key>
            <string>expression_1001.png</string>
        </dict>
    </dict>
</plist>
