<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-2016-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,145}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2016-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,149},{123,141}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2016-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{123,141}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{123,141}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2016-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,292},{123,137}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{123,137}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2016-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{123,145}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2016-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,145}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_2016.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f19a2cd24bb82ca2608370eeab3602bd$</string>
            <key>textureFileName</key>
            <string>expression_2016.png</string>
        </dict>
    </dict>
</plist>
