<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-2011-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{123,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2011-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{123,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{123,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2011-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,147}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{123,147}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_2011.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebeaf3797377f1f804b4dc03c979d80b$</string>
            <key>textureFileName</key>
            <string>expression_2011.png</string>
        </dict>
    </dict>
</plist>
