<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-27-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{68,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-27-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{68,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-27-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{70,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_27.png</string>
            <key>size</key>
            <string>{214,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1063e2b53499be7cbe262c379f011f8d$</string>
            <key>textureFileName</key>
            <string>expression_27.png</string>
        </dict>
    </dict>
</plist>
