<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-9-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{72,64}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{72,64}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-9-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{74,64}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>expression-9-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{68,68}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_9.png</string>
            <key>size</key>
            <string>{78,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a51881d0ed007efb57532cc2e2ffacb7$</string>
            <key>textureFileName</key>
            <string>expression_9.png</string>
        </dict>
    </dict>
</plist>
