<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-20-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{81,72}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{81,72}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>expression-20-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,98}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_20.png</string>
            <key>size</key>
            <string>{102,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2991b6ae215659a39a587d8c46143a82$</string>
            <key>textureFileName</key>
            <string>expression_20.png</string>
        </dict>
    </dict>
</plist>
