<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-1003-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{136,175}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{136,175}}</string>
                <key>sourceSize</key>
                <string>{158,225}</string>
            </dict>
            <key>expression-1003-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{136,177}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{136,177}}</string>
                <key>sourceSize</key>
                <string>{158,225}</string>
            </dict>
            <key>expression-1003-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,177}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{136,177}}</string>
                <key>sourceSize</key>
                <string>{158,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_1003.png</string>
            <key>size</key>
            <string>{319,319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77b6beb92767c9b68de431adfad93cf1$</string>
            <key>textureFileName</key>
            <string>expression_1003.png</string>
        </dict>
    </dict>
</plist>
