<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-1008-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,280},{137,175}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{137,175}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>expression-1008-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,141},{137,175}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{137,175}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>expression-1008-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{137,175}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,28},{137,175}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>expression-1008-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{151,175}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{151,175}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>expression-1008-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,175}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{161,175}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>expression-1008-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{137,175}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{137,175}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>expression-1008-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{135,175}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,27},{135,175}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>expression-1008-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,179},{137,175}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{137,175}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_1008.png</string>
            <key>size</key>
            <string>{493,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09b45a07b79b04a4555041402b52de7$</string>
            <key>textureFileName</key>
            <string>expression_1008.png</string>
        </dict>
    </dict>
</plist>
