<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-1002-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,179},{137,175}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{137,175}}</string>
                <key>sourceSize</key>
                <string>{183,199}</string>
            </dict>
            <key>expression-1002-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{139,175}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{139,175}}</string>
                <key>sourceSize</key>
                <string>{183,199}</string>
            </dict>
            <key>expression-1002-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,181},{141,175}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{141,175}}</string>
                <key>sourceSize</key>
                <string>{183,199}</string>
            </dict>
            <key>expression-1002-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,177}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{141,177}}</string>
                <key>sourceSize</key>
                <string>{183,199}</string>
            </dict>
            <key>expression-1002-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,179},{137,175}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{137,175}}</string>
                <key>sourceSize</key>
                <string>{183,199}</string>
            </dict>
            <key>expression-1002-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{139,175}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{139,175}}</string>
                <key>sourceSize</key>
                <string>{183,199}</string>
            </dict>
            <key>expression-1002-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{139,177}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{139,177}}</string>
                <key>sourceSize</key>
                <string>{183,199}</string>
            </dict>
            <key>expression-1002-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,177}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{141,177}}</string>
                <key>sourceSize</key>
                <string>{183,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_1002.png</string>
            <key>size</key>
            <string>{427,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97082f48154e570f96f436e35a5de2e3$</string>
            <key>textureFileName</key>
            <string>expression_1002.png</string>
        </dict>
    </dict>
</plist>
