<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-21-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{76,73}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{76,73}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>expression-21-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,89}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_21.png</string>
            <key>size</key>
            <string>{93,169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5adb91e7978f61c9d70898751364798a$</string>
            <key>textureFileName</key>
            <string>expression_21.png</string>
        </dict>
    </dict>
</plist>
