<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-2006-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,147}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{123,147}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression-2006-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,153}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{123,153}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_2006.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b13f8c4da50f9c17aadd853468f5bfd$</string>
            <key>textureFileName</key>
            <string>expression_2006.png</string>
        </dict>
    </dict>
</plist>
