<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>615_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,136},{24,50}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{24,50}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{24,50}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{24,50}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,186},{24,48}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,11},{24,48}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,134},{24,46}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{24,46}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,162},{26,44}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{26,44}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,190},{28,42}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{28,42}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,134},{26,44}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{26,44}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,190},{24,44}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,14},{24,44}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,134},{28,44}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{28,44}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,182},{32,46}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{32,46}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,182},{40,44}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{40,44}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,134},{46,44}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{46,44}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,50},{60,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{60,54}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{60,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{60,54}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,46}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{62,46}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{60,46}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{60,46}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,58},{54,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{54,46}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{54,48}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{54,48}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,58},{52,48}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{52,48}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,188},{48,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{48,48}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,136},{24,48}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,11},{24,48}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{24,50}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{24,50}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,108},{24,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,7},{24,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>615_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{26,52}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,7},{26,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gift_frame_615.png</string>
            <key>size</key>
            <string>{242,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b7c1e1ecc950e215df83e85fe0522df$</string>
            <key>textureFileName</key>
            <string>gift_frame_615.png</string>
        </dict>
    </dict>
</plist>
