<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression-1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,318},{137,175}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{137,175}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>expression-1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,141},{137,175}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{137,175}}</string>
                <key>sourceSize</key>
                <string>{183,199}</string>
            </dict>
            <key>expression-1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{136,175}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{136,175}}</string>
                <key>sourceSize</key>
                <string>{158,225}</string>
            </dict>
            <key>expression-1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,211}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{181,211}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>expression-1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{113,115}}</string>
                <key>offset</key>
                <string>{23,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,19},{113,115}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>expression-1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{170,180}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,89},{170,180}}</string>
                <key>sourceSize</key>
                <string>{208,276}</string>
            </dict>
            <key>expression-1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{137,176}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{137,176}}</string>
                <key>sourceSize</key>
                <string>{151,184}</string>
            </dict>
            <key>expression-1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,358},{137,175}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{137,175}}</string>
                <key>sourceSize</key>
                <string>{193,217}</string>
            </dict>
            <key>expression-1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,215},{141,175}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{141,175}}</string>
                <key>sourceSize</key>
                <string>{155,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room_vipexpression_popup.png</string>
            <key>size</key>
            <string>{525,525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0090b0b676d1dff405fc20e4ab533356$</string>
            <key>textureFileName</key>
            <string>room_vipexpression_popup.png</string>
        </dict>
    </dict>
</plist>
