<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,570}</string>
                <key>spriteSourceSize</key>
                <string>{890,570}</string>
                <key>textureRect</key>
                <string>{{1,519},{890,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,58}</string>
                <key>spriteSourceSize</key>
                <string>{174,58}</string>
                <key>textureRect</key>
                <string>{{113,1},{174,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtnPress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{289,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{349,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frontFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,456}</string>
                <key>spriteSourceSize</key>
                <string>{834,456}</string>
                <key>textureRect</key>
                <string>{{1,61},{834,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quickGo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>activity_popup.png</string>
            <key>size</key>
            <string>{892,1090}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e74c4c267448e43ddc1c71daa62778d5:ee3a612f4d76d71fd53512b84bd61f98:a692b8f0d96ab54ea6b49fd2e0ec0198$</string>
            <key>textureFileName</key>
            <string>activity_popup.png</string>
        </dict>
    </dict>
</plist>
