<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_activity_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{878,562}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{878,562}}</string>
                <key>sourceSize</key>
                <string>{880,562}</string>
            </dict>
            <key>card_activity_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1098},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>card_activity_card_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,625},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>card_activity_card_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,385},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>card_activity_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,723},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>card_activity_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,683},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>card_activity_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,243},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>card_activity_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,179},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>card_activity_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,321},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>card_activity_money_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,267},{78,52}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{78,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>card_activity_money_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{78,80}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{78,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>card_activity_money_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,155},{86,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>card_activity_new_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{933,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{933,628}}</string>
                <key>sourceSize</key>
                <string>{933,628}</string>
            </dict>
            <key>card_activity_new_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1098},{73,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>card_activity_new_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,82},{87,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,71}}</string>
                <key>sourceSize</key>
                <string>{87,71}</string>
            </dict>
            <key>card_activity_new_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{621,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,50}}</string>
                <key>sourceSize</key>
                <string>{621,50}</string>
            </dict>
            <key>card_activity_new_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,384},{712,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,73}}</string>
                <key>sourceSize</key>
                <string>{712,73}</string>
            </dict>
            <key>card_activity_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,243},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>card_activity_progress_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,315},{68,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,20}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>card_activity_recall_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,763},{318,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,36}}</string>
                <key>sourceSize</key>
                <string>{318,36}</string>
            </dict>
            <key>card_activity_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,632},{450,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,62}}</string>
                <key>sourceSize</key>
                <string>{450,62}</string>
            </dict>
            <key>card_activity_star_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,489},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>card_activity_star_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,443},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>card_activity_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{120,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>card_activity_start_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,76},{114,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,69}}</string>
                <key>sourceSize</key>
                <string>{114,69}</string>
            </dict>
            <key>card_activity_tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,147},{106,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,30}}</string>
                <key>sourceSize</key>
                <string>{106,30}</string>
            </dict>
            <key>card_activity_tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1084},{106,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,30}}</string>
                <key>sourceSize</key>
                <string>{106,30}</string>
            </dict>
            <key>card_activity_tips_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1084},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>card_activity_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,331},{712,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,74}}</string>
                <key>sourceSize</key>
                <string>{712,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardactivity_texture.png</string>
            <key>size</key>
            <string>{1196,1196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aff138b30f4a0f74a93c3f8765388dde$</string>
            <key>textureFileName</key>
            <string>cardactivity_texture.png</string>
        </dict>
    </dict>
</plist>
