<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>copper_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{126,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,107}}</string>
                <key>sourceSize</key>
                <string>{126,107}</string>
            </dict>
            <key>copper_box_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>copper_box_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{276,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,256}}</string>
                <key>sourceSize</key>
                <string>{276,256}</string>
            </dict>
            <key>copper_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,272},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>crazed_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,147},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>crazed_box_btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,147},{17,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,46}}</string>
                <key>sourceSize</key>
                <string>{17,46}</string>
            </dict>
            <key>crazed_box_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,166},{14,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,46}}</string>
                <key>sourceSize</key>
                <string>{14,46}</string>
            </dict>
            <key>crazed_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,182},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>crazed_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,88},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>glod_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,520},{126,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,107}}</string>
                <key>sourceSize</key>
                <string>{126,107}</string>
            </dict>
            <key>glod_box_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{276,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,278}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>glod_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,137},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>silver_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,407},{134,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,111}}</string>
                <key>sourceSize</key>
                <string>{134,111}</string>
            </dict>
            <key>silver_box_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,278}}</string>
                <key>sourceSize</key>
                <string>{276,278}</string>
            </dict>
            <key>silver_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crazed_box_texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb94fe16b121169673b7af109cf2fa0c$</string>
            <key>textureFileName</key>
            <string>crazed_box_texture.png</string>
        </dict>
    </dict>
</plist>
