<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ecode_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{332,246}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{332,246}}</string>
                <key>sourceSize</key>
                <string>{332,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ecode.png</string>
            <key>size</key>
            <string>{334,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94ace89ade089d08f193ca079ce63a89$</string>
            <key>textureFileName</key>
            <string>ecode.png</string>
        </dict>
    </dict>
</plist>
