<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crash_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1221},{38,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,4}}</string>
                <key>sourceSize</key>
                <string>{38,4}</string>
            </dict>
            <key>first_pay_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{798,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,428}}</string>
                <key>sourceSize</key>
                <string>{798,428}</string>
            </dict>
            <key>first_pay_btn_txt_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1115},{133,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,49}}</string>
                <key>sourceSize</key>
                <string>{133,49}</string>
            </dict>
            <key>first_pay_btn_txt_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1179},{133,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,49}}</string>
                <key>sourceSize</key>
                <string>{133,49}</string>
            </dict>
            <key>first_pay_buy_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1115},{150,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,76}}</string>
                <key>sourceSize</key>
                <string>{150,76}</string>
            </dict>
            <key>first_pay_buy_btn_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1115},{150,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,76}}</string>
                <key>sourceSize</key>
                <string>{150,76}</string>
            </dict>
            <key>first_pay_jmt_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,862},{612,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,251}}</string>
                <key>sourceSize</key>
                <string>{612,251}</string>
            </dict>
            <key>first_pay_jmt_discard_divide.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1203},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,4}</string>
            </dict>
            <key>first_pay_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{339,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,57}}</string>
                <key>sourceSize</key>
                <string>{339,57}</string>
            </dict>
            <key>guide_pay_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{798,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,428}}</string>
                <key>sourceSize</key>
                <string>{798,428}</string>
            </dict>
            <key>guide_pay_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{798,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,428}}</string>
                <key>sourceSize</key>
                <string>{798,428}</string>
            </dict>
            <key>guide_pay_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1227},{40,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,3}}</string>
                <key>sourceSize</key>
                <string>{40,3}</string>
            </dict>
            <key>guidepay_discount_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1115},{62,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>first_pay_texture.png</string>
            <key>size</key>
            <string>{1232,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e33d119e0b3fdc6032c48d88223384ea$</string>
            <key>textureFileName</key>
            <string>first_pay_texture.png</string>
        </dict>
    </dict>
</plist>
