<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>football_bet_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,382},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>football_bet_button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,314},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>football_bet_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,724},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>football_bet_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,450},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>football_bottom_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,886},{19,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,68}}</string>
                <key>sourceSize</key>
                <string>{19,68}</string>
            </dict>
            <key>football_chip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,862},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>football_content_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,656},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>football_gcoin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,698},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>football_input_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,862},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>football_item_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,728},{20,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,52}}</string>
                <key>sourceSize</key>
                <string>{20,52}</string>
            </dict>
            <key>football_item_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{2,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,38}}</string>
                <key>sourceSize</key>
                <string>{2,38}</string>
            </dict>
            <key>football_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{184,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,572}}</string>
                <key>sourceSize</key>
                <string>{184,572}</string>
            </dict>
            <key>football_left_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,698},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>football_quiz_about_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,888},{130,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,18}}</string>
                <key>sourceSize</key>
                <string>{130,20}</string>
            </dict>
            <key>football_quiz_about_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,476},{136,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>football_quiz_match_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,728},{158,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{158,22}}</string>
                <key>sourceSize</key>
                <string>{158,24}</string>
            </dict>
            <key>football_quiz_match_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{166,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,30}}</string>
                <key>sourceSize</key>
                <string>{166,30}</string>
            </dict>
            <key>football_quiz_record_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,750},{136,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,22}}</string>
                <key>sourceSize</key>
                <string>{136,22}</string>
            </dict>
            <key>football_quiz_record_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,170},{142,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,28}}</string>
                <key>sourceSize</key>
                <string>{144,28}</string>
            </dict>
            <key>football_reward_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,782},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>football_right_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,614},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>football_table_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,652},{180,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,74}}</string>
                <key>sourceSize</key>
                <string>{180,74}</string>
            </dict>
            <key>football_table_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,576},{180,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,74}}</string>
                <key>sourceSize</key>
                <string>{180,74}</string>
            </dict>
            <key>football_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{284,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,56}}</string>
                <key>sourceSize</key>
                <string>{284,56}</string>
            </dict>
            <key>football_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,70}}</string>
                <key>sourceSize</key>
                <string>{960,70}</string>
            </dict>
            <key>football_title_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,886},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>football_title_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,42},{2,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,10}}</string>
                <key>sourceSize</key>
                <string>{2,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>football_quiz_texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d7e9dbaa8aab9ae53aa18b4c89d691a$</string>
            <key>textureFileName</key>
            <string>football_quiz_texture.png</string>
        </dict>
    </dict>
</plist>
