<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>christmas_theme_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{334,632}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{334,632}}</string>
                <key>sourceSize</key>
                <string>{334,638}</string>
            </dict>
            <key>poker_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,638}}</string>
                <key>sourceSize</key>
                <string>{334,638}</string>
            </dict>
            <key>poker_girl_blink_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,978},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>poker_girl_blink_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl_texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61b16152d8e32827bf01fa3ed7d1007f$</string>
            <key>textureFileName</key>
            <string>girl_texture.png</string>
        </dict>
    </dict>
</plist>
