<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>invite_bar_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,95},{6,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,64}}</string>
                <key>sourceSize</key>
                <string>{6,64}</string>
            </dict>
            <key>invite_friend_inputback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{11,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,40}}</string>
                <key>sourceSize</key>
                <string>{11,40}</string>
            </dict>
            <key>invite_friend_reload.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,330},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>invite_friend_selectall_checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,391},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>invite_friend_selectall_checkbox_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,391},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>invite_old_user_bg_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>invite_old_user_bg_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>invite_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{6,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,91}}</string>
                <key>sourceSize</key>
                <string>{6,91}</string>
            </dict>
            <key>invite_popup_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>invite_popup_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>invite_popup_close_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,330},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>invite_user_bg_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>invite_user_bg_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>invite_texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f93bf6634d9d62f0efec8b8bbc22910$</string>
            <key>textureFileName</key>
            <string>invite_texture.png</string>
        </dict>
    </dict>
</plist>
