<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turn_boader.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,632},{100,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,160}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>turn_boader_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{284,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,248}}</string>
                <key>sourceSize</key>
                <string>{284,248}</string>
            </dict>
            <key>turn_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,632},{124,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,75}}</string>
                <key>sourceSize</key>
                <string>{124,75}</string>
            </dict>
            <key>turn_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,786},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>turn_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,870},{119,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,75}}</string>
                <key>sourceSize</key>
                <string>{119,75}</string>
            </dict>
            <key>turn_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,506},{119,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,75}}</string>
                <key>sourceSize</key>
                <string>{119,75}</string>
            </dict>
            <key>turn_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,709},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>turn_btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,506},{124,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,75}}</string>
                <key>sourceSize</key>
                <string>{124,75}</string>
            </dict>
            <key>turn_circle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,470}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{470,470}}</string>
                <key>sourceSize</key>
                <string>{474,474}</string>
            </dict>
            <key>turn_goldlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,769},{161,97}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{161,97}}</string>
                <key>sourceSize</key>
                <string>{161,121}</string>
            </dict>
            <key>turn_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,769},{172,142}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,142}}</string>
                <key>sourceSize</key>
                <string>{172,214}</string>
            </dict>
            <key>turn_playBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{171,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,209}}</string>
                <key>sourceSize</key>
                <string>{171,209}</string>
            </dict>
            <key>turn_playBtn_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,847},{39,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,14}}</string>
                <key>sourceSize</key>
                <string>{39,14}</string>
            </dict>
            <key>turn_playBtn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,734},{134,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,133}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>turn_playBtn_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,556},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>turn_playBtn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,744},{134,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,133}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>turn_pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,863},{72,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,107}}</string>
                <key>sourceSize</key>
                <string>{72,107}</string>
            </dict>
            <key>turn_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,587},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>turn_recordDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,587},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>turn_recordUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,863},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>turn_resBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,474},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>turn_reward_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,627},{76,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>turn_rightBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,880},{48,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,113}}</string>
                <key>sourceSize</key>
                <string>{48,113}</string>
            </dict>
            <key>turn_score_ bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,921},{55,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,32}}</string>
                <key>sourceSize</key>
                <string>{55,32}</string>
            </dict>
            <key>turn_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{378,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,5}}</string>
                <key>sourceSize</key>
                <string>{378,5}</string>
            </dict>
            <key>turn_slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,252},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>turn_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{583,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,128}}</string>
                <key>sourceSize</key>
                <string>{583,128}</string>
            </dict>
            <key>turn_tableLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{401,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,286}}</string>
                <key>sourceSize</key>
                <string>{401,286}</string>
            </dict>
            <key>turn_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{309,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,63}}</string>
                <key>sourceSize</key>
                <string>{309,63}</string>
            </dict>
            <key>turn_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,252},{252,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,52}}</string>
                <key>sourceSize</key>
                <string>{252,52}</string>
            </dict>
            <key>turn_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,313},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>turn_title_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,558},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>turn_title_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,484},{194,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,72}}</string>
                <key>sourceSize</key>
                <string>{194,72}</string>
            </dict>
            <key>wheel_reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,863},{56,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>wheel_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,679},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>wheel_reward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,445},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>wheel_reward_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,679},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>wheel_reward_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,789},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>wheel_reward_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,733},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>wheel_reward_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,795},{56,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>wheel_reward_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,737},{56,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luckturn_new_texture.png</string>
            <key>size</key>
            <string>{955,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:318e9020c249a7f66282fc7bc1c5f810$</string>
            <key>textureFileName</key>
            <string>luckturn_new_texture.png</string>
        </dict>
    </dict>
</plist>
