<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aa.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,44},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>aa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,88},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>award_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,88},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>empty_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,119},{1,1}}</string>
                <key>offset</key>
                <string>{-12.5,12.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>flag_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,109}}</string>
                <key>sourceSize</key>
                <string>{121,109}</string>
            </dict>
            <key>frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>h_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,119},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>help_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>matchrecord_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,89},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>matchreg_big_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{286,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,92}}</string>
                <key>sourceSize</key>
                <string>{286,92}</string>
            </dict>
            <key>matchreg_high_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,88},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{16,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_high_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,88},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,88},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>matchreg_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,96},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,88},{16,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,88},{20,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,88},{20,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,96},{20,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,96},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,96},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,96},{20,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,96},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,96},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>matchreg_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,52},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>matchreg_user_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{240,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,84}}</string>
                <key>sourceSize</key>
                <string>{240,84}</string>
            </dict>
            <key>pro_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,96},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>pro_con.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,88},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>reg_back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,65},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>reg_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{53,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,85}}</string>
                <key>sourceSize</key>
                <string>{53,85}</string>
            </dict>
            <key>rule_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,88},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>start_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,89},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>unreg_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{62,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,85}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>v_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,119},{13,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,4}}</string>
                <key>sourceSize</key>
                <string>{13,4}</string>
            </dict>
            <key>white_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,89},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>matchreg.png</string>
            <key>size</key>
            <string>{858,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b360278909d3865930bf9398813bd0bd$</string>
            <key>textureFileName</key>
            <string>matchreg.png</string>
        </dict>
    </dict>
</plist>
