<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NewWomen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{334,630}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,638}</string>
			</dict>
			<key>NewWomen_blink_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,633},{74,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,44}</string>
			</dict>
			<key>NewWomen_blink_half.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,679},{74,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NewWomen.png</string>
			<key>realTextureFileName</key>
			<string>NewWomen.png</string>
			<key>size</key>
			<string>{336,724}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>336</integer>
			<key>height</key>
			<integer>724</integer>
		</dict>
	</dict>
</plist>