<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,546}}</string>
                <key>sourceSize</key>
                <string>{800,546}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,73},{498,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,180}}</string>
                <key>sourceSize</key>
                <string>{498,180}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{800,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,396}}</string>
                <key>sourceSize</key>
                <string>{800,396}</string>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,883},{240,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,70}}</string>
                <key>sourceSize</key>
                <string>{240,70}</string>
            </dict>
            <key>bgTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1115},{262,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,56}}</string>
                <key>sourceSize</key>
                <string>{262,56}</string>
            </dict>
            <key>hall_turn_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{204,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,69}}</string>
                <key>sourceSize</key>
                <string>{204,69}</string>
            </dict>
            <key>hall_turn_circle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{384,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,390}}</string>
                <key>sourceSize</key>
                <string>{384,390}</string>
            </dict>
            <key>hall_turn_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,883},{135,110}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,110}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>hall_turn_playBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,573},{140,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,170}}</string>
                <key>sourceSize</key>
                <string>{140,170}</string>
            </dict>
            <key>hall_turn_playBtn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,995},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>hall_turn_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1129},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>hall_turn_slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,715},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1125},{99,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{99,82}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1051},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,948},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>retBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,715},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,948},{252,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,284}}</string>
                <key>sourceSize</key>
                <string>{252,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newWheel.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a123a347637aad906e9fed0fdb82cf9f$</string>
            <key>textureFileName</key>
            <string>newWheel.png</string>
        </dict>
    </dict>
</plist>
