<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pdeng_room_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{574,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,640}}</string>
                <key>sourceSize</key>
                <string>{574,640}</string>
            </dict>
            <key>pdeng_room_bottom_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{240,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,90}}</string>
                <key>sourceSize</key>
                <string>{240,90}</string>
            </dict>
            <key>pdeng_room_bottom_bg_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,644},{224,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,81}}</string>
                <key>sourceSize</key>
                <string>{224,81}</string>
            </dict>
            <key>pdeng_room_card_in_pdeng8.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1006},{35,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,15}}</string>
                <key>sourceSize</key>
                <string>{35,15}</string>
            </dict>
            <key>pdeng_room_card_in_pdeng9.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1006},{35,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,15}}</string>
                <key>sourceSize</key>
                <string>{35,15}</string>
            </dict>
            <key>pdeng_room_card_in_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1006},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>pdeng_room_card_in_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1006},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>pdeng_room_card_in_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1006},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>pdeng_room_card_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,849},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>pdeng_room_card_pdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,644},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>pdeng_room_card_type_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1006},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>pdeng_room_card_type_pdeng_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1006},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>pdeng_room_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,765},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>pdeng_room_count_down_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,644},{120,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,73}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>pdeng_room_count_down_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1006},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>pdeng_room_count_down_progress_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1032},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>pdeng_room_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,644},{106,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,119}}</string>
                <key>sourceSize</key>
                <string>{106,119}</string>
            </dict>
            <key>pdeng_room_dealer_chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,870},{134,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,183}}</string>
                <key>sourceSize</key>
                <string>{134,183}</string>
            </dict>
            <key>pdeng_room_opr_check_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,715},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>pdeng_room_opr_check_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,766},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>pdeng_room_opr_check_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1006},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>pdeng_room_opr_check_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,766},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>pdeng_room_table_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{485,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,470}}</string>
                <key>sourceSize</key>
                <string>{485,470}</string>
            </dict>
            <key>pdeng_room_upbanker_chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{162,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,130}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdeng_texture.png</string>
            <key>size</key>
            <string>{1050,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2c49fa00ae7238514dd403bbebce34e$</string>
            <key>textureFileName</key>
            <string>pdeng_texture.png</string>
        </dict>
    </dict>
</plist>
