<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranking_champion_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,165}}</string>
                <key>sourceSize</key>
                <string>{191,165}</string>
            </dict>
            <key>ranking_copper_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,165},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>ranking_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,70},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>ranking_item_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,169},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>ranking_item_own_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>ranking_rank_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,112},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>ranking_refresh_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,211},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>ranking_refresh_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,169},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>ranking_refresh_btn_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,169},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>ranking_sex_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,228},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>ranking_sex_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>ranking_sliver_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ranking_texture.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7758fd78063d88e6aa5049912343040d$</string>
            <key>textureFileName</key>
            <string>ranking_texture.png</string>
        </dict>
    </dict>
</plist>
