<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rich_default_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,134},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>rich_rank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,423},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,180},{11,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,423},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,423},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_rank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,423},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_rank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,158},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_rank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,136},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_rank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,158},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_rank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,114},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_rank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,92},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>rich_time_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,423},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>rich_time_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,134},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{11,22}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>rich_time_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,404},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>rich_time_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,404},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>rich_time_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,318},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>rich_time_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,404},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>rich_time_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,424},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>rich_time_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,318},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>rich_time_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,424},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>rich_time_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,221},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>richman_button_close_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,202},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>richman_button_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,202},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>richman_button_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,287},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>richman_button_close_split.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,338},{2,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,34}}</string>
                <key>sourceSize</key>
                <string>{2,34}</string>
            </dict>
            <key>richman_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,294},{150,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,42}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>richman_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,136},{156,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>richman_button_question_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,287},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>richman_button_question_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,202},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>richman_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,424},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>richman_countdown_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,134},{136,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,42}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>richman_detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,338},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>richman_detail_close_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,239},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,35}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>richman_detail_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,136},{200,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,27}}</string>
                <key>sourceSize</key>
                <string>{200,27}</string>
            </dict>
            <key>richman_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,239},{73,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{73,48}}</string>
                <key>sourceSize</key>
                <string>{73,56}</string>
            </dict>
            <key>richman_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{208,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,106}}</string>
                <key>sourceSize</key>
                <string>{208,106}</string>
            </dict>
            <key>richman_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,338},{84,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,62}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>richman_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,247},{22,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>richman_list_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,180},{150,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,57}}</string>
                <key>sourceSize</key>
                <string>{150,57}</string>
            </dict>
            <key>richman_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{40,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,425}}</string>
                <key>sourceSize</key>
                <string>{40,425}</string>
            </dict>
            <key>richman_right_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{198,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,96}}</string>
                <key>sourceSize</key>
                <string>{198,96}</string>
            </dict>
            <key>richman_tag_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,165},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>richman_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{441,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,88}}</string>
                <key>sourceSize</key>
                <string>{441,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>richman_score_texture.png</string>
            <key>size</key>
            <string>{445,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e12c4c4b9556ea18cbbc2e270385c4d$</string>
            <key>textureFileName</key>
            <string>richman_score_texture.png</string>
        </dict>
    </dict>
</plist>
