<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sm_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,367},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>sm_back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,250},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,56}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>sm_back_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,191},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>sm_band.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,596},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,42}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>sm_border1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{182,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{182,42}</string>
            </dict>
            <key>sm_bottom_float_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,314},{250,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,42}}</string>
                <key>sourceSize</key>
                <string>{250,42}</string>
            </dict>
            <key>sm_button_green_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,122},{23,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,50}}</string>
                <key>sourceSize</key>
                <string>{23,50}</string>
            </dict>
            <key>sm_button_yellow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,613},{22,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,54}}</string>
                <key>sourceSize</key>
                <string>{22,54}</string>
            </dict>
            <key>sm_checkBoxIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,596},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>sm_checkBox_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,443},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>sm_checkBox_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,393},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>sm_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,309},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>sm_combo_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,420},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>sm_combo_bar_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,596},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>sm_combo_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,431},{140,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,48}}</string>
                <key>sourceSize</key>
                <string>{140,48}</string>
            </dict>
            <key>sm_comfirm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,315},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>sm_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,549},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>sm_dialog_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,413},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>sm_drop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,496},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>sm_exchangeTitle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{340,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,139}}</string>
                <key>sourceSize</key>
                <string>{340,139}</string>
            </dict>
            <key>sm_goodBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,534},{13,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,36}}</string>
                <key>sourceSize</key>
                <string>{13,36}</string>
            </dict>
            <key>sm_goodStatus_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,527},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>sm_goodStatus_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,586},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>sm_good_border1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,164},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>sm_good_border2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,253},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>sm_good_border3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,191},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>sm_good_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{161,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,160}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>sm_goodname_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,596},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>sm_goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,493},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>sm_goods2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,372},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>sm_group_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,549},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>sm_group_tab_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,299},{312,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,54}}</string>
                <key>sourceSize</key>
                <string>{312,54}</string>
            </dict>
            <key>sm_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{91,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,115}}</string>
                <key>sourceSize</key>
                <string>{91,115}</string>
            </dict>
            <key>sm_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,448},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>sm_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,314},{246,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,15}}</string>
                <key>sourceSize</key>
                <string>{246,15}</string>
            </dict>
            <key>sm_lightEffect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,154}}</string>
                <key>sourceSize</key>
                <string>{354,154}</string>
            </dict>
            <key>sm_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,562},{15,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,2}}</string>
                <key>sourceSize</key>
                <string>{15,2}</string>
            </dict>
            <key>sm_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{224,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,205}}</string>
                <key>sourceSize</key>
                <string>{224,205}</string>
            </dict>
            <key>sm_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,314},{90,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,115}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>sm_prograss_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,299},{296,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,34}}</string>
                <key>sourceSize</key>
                <string>{296,34}</string>
            </dict>
            <key>sm_radio_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,96},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sm_radio_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,566},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>sm_record1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,573},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>sm_record2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,458},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>sm_record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,431},{39,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,94}}</string>
                <key>sourceSize</key>
                <string>{39,94}</string>
            </dict>
            <key>sm_score_ bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,315},{55,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,32}}</string>
                <key>sourceSize</key>
                <string>{55,32}</string>
            </dict>
            <key>sm_see_dialog_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,119},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>sm_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,484},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>sm_status_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,549},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sm_status_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,517},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sm_status_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,581},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sm_status_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,549},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sm_status_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,517},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sm_status_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,581},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>sm_status_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,566},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>sm_tab_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{208,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,78}}</string>
                <key>sourceSize</key>
                <string>{208,78}</string>
            </dict>
            <key>sm_tab_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,597},{41,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{41,64}</string>
            </dict>
            <key>sm_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{21,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,92}}</string>
                <key>sourceSize</key>
                <string>{21,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scoremarket_texture.png</string>
            <key>size</key>
            <string>{640,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ff434aabc2ec49e59ae8535c1ed2ee9$</string>
            <key>textureFileName</key>
            <string>scoremarket_texture.png</string>
        </dict>
    </dict>
</plist>
