<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>store_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{805,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,640}}</string>
                <key>sourceSize</key>
                <string>{805,640}</string>
            </dict>
            <key>store_bottom_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,851},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>store_goods_big_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,892},{148,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,130}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>store_goods_big_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,239},{185,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,164}}</string>
                <key>sourceSize</key>
                <string>{185,164}</string>
            </dict>
            <key>store_goods_big_bg_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,525},{148,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,130}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>store_goods_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,965},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>store_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,658},{232,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,120}}</string>
                <key>sourceSize</key>
                <string>{232,120}</string>
            </dict>
            <key>store_input_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,831},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>store_input_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,831},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>store_label_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,873},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>store_label_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,803},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>store_label_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,739},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>store_label_off_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,961},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>store_label_off_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,739},{81,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,92}}</string>
                <key>sourceSize</key>
                <string>{81,92}</string>
            </dict>
            <key>store_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,658},{79,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,640}}</string>
                <key>sourceSize</key>
                <string>{79,640}</string>
            </dict>
            <key>store_left_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,851},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>store_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{196,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,235}}</string>
                <key>sourceSize</key>
                <string>{196,235}</string>
            </dict>
            <key>store_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{50,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,4}}</string>
                <key>sourceSize</key>
                <string>{50,4}</string>
            </dict>
            <key>store_paytype_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,451},{166,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{166,36}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,739},{148,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{148,54}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_240.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,405},{166,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{166,44}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,889},{118,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{118,46}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_348.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{125,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,47}}</string>
                <key>sourceSize</key>
                <string>{125,47}</string>
            </dict>
            <key>store_paytype_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,889},{132,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,44}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>store_paytype_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,842},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{96,40}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>store_paytype_501.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,489},{156,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{156,34}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_502.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,884},{92,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,7},{92,44}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_503.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,739},{144,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{144,52}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_504.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,978},{76,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,7},{76,44}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_600.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,889},{118,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{118,46}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_707.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,426},{138,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{138,44}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_741.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,405},{166,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{166,44}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>store_paytype_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,658},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>store_paytype_mol_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,298},{54,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,23}}</string>
                <key>sourceSize</key>
                <string>{54,23}</string>
            </dict>
            <key>store_paytype_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,658},{234,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,74}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>store_paytype_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{234,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,74}}</string>
                <key>sourceSize</key>
                <string>{234,74}</string>
            </dict>
            <key>store_prd_flow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,739},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>store_prd_flow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,884},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>store_prd_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,884},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>store_prd_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,976},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>store_prd_prop_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,937},{64,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>store_prd_prop_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,739},{90,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>store_prd_prop_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,566},{90,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{90,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>store_prd_prop_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,873},{90,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>store_prd_prop_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,873},{86,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{86,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>store_prd_prop_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,739},{90,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>store_record_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,803},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>store_record_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,831},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>store_tab_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,987},{52,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,34}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>store_tab_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,768},{120,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,54}}</string>
                <key>sourceSize</key>
                <string>{120,54}</string>
            </dict>
            <key>store_tab_item_middle_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,739},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>store_tab_item_middle_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,739},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>store_tab_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,987},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>store_telephone_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,976},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>store_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,354},{20,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,70}}</string>
                <key>sourceSize</key>
                <string>{20,70}</string>
            </dict>
            <key>store_vip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,833},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>store_vip_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,644},{122,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,76}}</string>
                <key>sourceSize</key>
                <string>{122,76}</string>
            </dict>
            <key>store_vip_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,894},{122,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,76}}</string>
                <key>sourceSize</key>
                <string>{122,76}</string>
            </dict>
            <key>store_vip_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{2,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,40}}</string>
                <key>sourceSize</key>
                <string>{2,40}</string>
            </dict>
            <key>store_vip_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,272},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>store_vip_open_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,851},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>store_vip_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,885},{112,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>store_vip_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,894},{122,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,76}}</string>
                <key>sourceSize</key>
                <string>{122,76}</string>
            </dict>
            <key>store_vip_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,239},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store_texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2524140a187e105cd41c52f8e7e00b71$</string>
            <key>textureFileName</key>
            <string>store_texture.png</string>
        </dict>
    </dict>
</plist>
