<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>float_poker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,644},{46,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>float_poker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>float_poker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,798},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>float_poker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,798},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>float_poker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,798},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>game_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{214,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{214,152}}</string>
                <key>sourceSize</key>
                <string>{230,164}</string>
            </dict>
            <key>login_rotary_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,781},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>login_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{852,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,640}}</string>
                <key>sourceSize</key>
                <string>{852,640}</string>
            </dict>
            <key>update_ProLines.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,846},{21,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,8}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>update_Prolight.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,846},{17,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,8}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>update_proBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,707},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>update_proBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,745},{34,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,12}}</string>
                <key>sourceSize</key>
                <string>{34,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>update_texture.png</string>
            <key>size</key>
            <string>{856,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae2852f4d5b34b4087554dfb6c36d8c$</string>
            <key>textureFileName</key>
            <string>update_texture.png</string>
        </dict>
    </dict>
</plist>
