<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>upgrade_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{74,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,104}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,368},{66,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{66,104}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,436},{68,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{68,102}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,300},{66,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{66,104}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,646},{78,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{78,100}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,506},{64,102}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{64,102}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,226},{72,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{72,104}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,646},{72,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,100}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,152},{72,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{72,104}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,78},{72,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,104}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>upgrade_bg_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{636,262}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{636,262}}</string>
                <key>sourceSize</key>
                <string>{648,276}</string>
            </dict>
            <key>upgrade_bg_opened.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,262}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{636,262}}</string>
                <key>sourceSize</key>
                <string>{648,276}</string>
            </dict>
            <key>upgrade_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,572},{132,72}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{132,72}}</string>
                <key>sourceSize</key>
                <string>{132,106}</string>
            </dict>
            <key>upgrade_treasure_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,530},{212,148}}</string>
                <key>offset</key>
                <string>{-30,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{212,148}}</string>
                <key>sourceSize</key>
                <string>{274,174}</string>
            </dict>
            <key>upgrade_treasure_opened.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{274,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,174}}</string>
                <key>sourceSize</key>
                <string>{274,174}</string>
            </dict>
            <key>upgrade_treasure_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,530},{212,148}}</string>
                <key>offset</key>
                <string>{-30,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{212,148}}</string>
                <key>sourceSize</key>
                <string>{274,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>upgrade_texture.png</string>
            <key>size</key>
            <string>{748,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0067ffaf67ede02b7651a0e282a2ca07$</string>
            <key>textureFileName</key>
            <string>upgrade_texture.png</string>
        </dict>
    </dict>
</plist>
