<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sendBlessingOkBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,524},{123,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,44}}</string>
                <key>sourceSize</key>
                <string>{123,44}</string>
            </dict>
            <key>sendBlessingSendBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,651},{84,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,42}}</string>
                <key>sourceSize</key>
                <string>{84,42}</string>
            </dict>
            <key>waterLamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>waterLamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,555},{115,72}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{115,72}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>waterLamp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,448},{142,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{142,74}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>waterLamp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,577},{96,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{96,65}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>waterLampA.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,386},{41,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{41,37}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>waterLampAMov.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,186},{260,200}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,53},{260,200}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>waterLampB.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,429},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{37,35}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>waterLampBMov.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{260,178}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{260,178}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>waterLampBlessingFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{264,184}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,184}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>waterLampCloseBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,341},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>waterLampDivider.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,96},{243,3}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,3}}</string>
                <key>sourceSize</key>
                <string>{251,3}</string>
            </dict>
            <key>waterLampFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,185}}</string>
                <key>sourceSize</key>
                <string>{264,185}</string>
            </dict>
            <key>waterLampIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,570},{109,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,96}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>waterLampIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,466},{109,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,96}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>waterLampPresentA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{77,76}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{77,76}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>waterLampPresentB.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,733},{87,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{87,74}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>waterLampPresentC.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,644},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>waterLampPresentD.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,668},{63,76}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>waterLampPropA.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,629},{81,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{81,72}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>waterLampPropAB.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,570},{79,50}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{79,50}}</string>
                <key>sourceSize</key>
                <string>{87,68}</string>
            </dict>
            <key>waterLampPropB.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,703},{75,74}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{75,74}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>waterLampSelBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,186},{66,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>waterLampSendBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,96},{234,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,88}}</string>
                <key>sourceSize</key>
                <string>{234,90}</string>
            </dict>
            <key>waterLampSendBtn30k.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{241,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{241,92}}</string>
                <key>sourceSize</key>
                <string>{241,100}</string>
            </dict>
            <key>waterLampTransparentSkin.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,96},{1,1}}</string>
                <key>offset</key>
                <string>{-1.5,1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>waterLamp_texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19f638de94c7c01fbee79974ce0fd486$</string>
            <key>textureFileName</key>
            <string>waterLamp_texture.png</string>
        </dict>
    </dict>
</plist>
