<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-11-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,164},{92,57}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,48},{92,57}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>hddj-11-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,61}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{274,61}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>hddj-11-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{256,59}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{256,59}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>hddj-11-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{236,57}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{236,57}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>hddj-11-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{218,57}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{218,57}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>hddj-11-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{198,55}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{198,55}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>hddj-11-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{180,53}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{180,53}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>hddj-11-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{160,53}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,44},{160,53}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>hddj-11-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{152,53}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,46},{152,53}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>hddj-11-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,164},{92,57}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,48},{92,57}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-11.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72272bc385a558b54967a1eda2d3a421$</string>
            <key>textureFileName</key>
            <string>hddj-11.png</string>
        </dict>
    </dict>
</plist>
