<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-9-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,354},{80,88}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,24},{80,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,386},{80,88}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,24},{80,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,344},{80,88}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,24},{80,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,246},{80,96}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{80,96}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,84},{80,94}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,18},{80,94}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{72,94}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,18},{72,94}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{80,94}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,18},{80,94}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,166},{112,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{112,110}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{126,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{126,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{144,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{126,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{126,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,278},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,246},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,124},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>hddj-9-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,124},{106,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,120}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-9.png</string>
            <key>size</key>
            <string>{480,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b06582e4c5d1fe65c5328dcda0f6953f$</string>
            <key>textureFileName</key>
            <string>hddj-9.png</string>
        </dict>
    </dict>
</plist>
