<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-5-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{180,74}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{180,74}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,138},{170,74}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,54},{170,74}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,264},{130,74}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{130,74}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,244},{126,98}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{126,98}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{136,132}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{136,132}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{124,128}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,134}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{150,134}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,136},{132,106}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{132,106}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,132},{130,114}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,31},{130,114}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{122,92}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,54},{122,92}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,340},{112,74}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{112,74}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hddj-5-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,344},{112,72}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,55},{112,72}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-5.png</string>
            <key>size</key>
            <string>{418,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5c988d0cad5f25d993298b2eff80f00$</string>
            <key>textureFileName</key>
            <string>hddj-5.png</string>
        </dict>
    </dict>
</plist>
