<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-17-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,286},{150,156}}</string>
                <key>offset</key>
                <string>{27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,108},{150,156}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>hddj-17-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,286},{374,262}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,43},{374,262}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>hddj-17-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{416,282}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{416,282}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>hddj-17-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,326}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{492,326}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>hddj-17-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,806},{324,254}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,53},{324,254}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>hddj-17-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,550},{324,254}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,53},{324,254}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>hddj-17-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{324,254}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,53},{324,254}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>hddj-17-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,550},{324,254}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,53},{324,254}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
            <key>hddj-17-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{324,254}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,53},{324,254}}</string>
                <key>sourceSize</key>
                <string>{500,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-17.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cfa70e046eae7a5e4bb23c469a9c0fa$</string>
            <key>textureFileName</key>
            <string>hddj-17.png</string>
        </dict>
    </dict>
</plist>
