<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-6-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,342},{106,114}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{106,114}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,114},{98,106}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{98,106}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,342},{106,114}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{106,114}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{76,72}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,232},{116,108}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{116,108}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,114},{116,108}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{116,108}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{116,110}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{116,110}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,276},{116,120}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{116,120}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,144},{116,130}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{116,130}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,140}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{116,140}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{116,150}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{116,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{116,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{116,160}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{116,160}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>hddj-6-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{116,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{116,160}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-6.png</string>
            <key>size</key>
            <string>{450,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:808619ee5423b870e83185af846a87b1$</string>
            <key>textureFileName</key>
            <string>hddj-6.png</string>
        </dict>
    </dict>
</plist>
