<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-1009-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,236},{260,200}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,53},{260,200}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{260,206}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,53},{260,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{262,214}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{262,214}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{264,206}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,40},{264,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,662},{256,232}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{256,232}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{258,232}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,27},{258,232}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,438},{254,246}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{254,246}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,210},{262,232}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{262,232}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{260,226}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{260,226}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{262,232}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{262,232}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>hddj-1009-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,214}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{264,214}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-1009.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d84572eca59e997bcfa9f89f409a0708$</string>
            <key>textureFileName</key>
            <string>hddj-1009.png</string>
        </dict>
    </dict>
</plist>
