<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hddj-8-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,243},{62,59}}</string>
                <key>offset</key>
                <string>{50,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,22},{62,59}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{52,67}}</string>
                <key>offset</key>
                <string>{83,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,11},{52,67}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,71},{62,63}}</string>
                <key>offset</key>
                <string>{113,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,21},{62,63}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,243},{80,57}}</string>
                <key>offset</key>
                <string>{39,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,32},{80,57}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,229},{82,63}}</string>
                <key>offset</key>
                <string>{40,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,23},{82,63}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{156,77}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,13},{156,77}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{66,87}}</string>
                <key>offset</key>
                <string>{-84,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,160},{80,81}}</string>
                <key>offset</key>
                <string>{-124,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{80,81}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,160},{92,67}}</string>
                <key>offset</key>
                <string>{-32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,27},{92,67}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{98,77}}</string>
                <key>offset</key>
                <string>{-33,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,13},{98,77}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,101}}</string>
                <key>offset</key>
                <string>{-34,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{126,101}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,105},{46,43}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,43},{46,43}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,182},{44,43}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,44},{44,43}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,135},{44,45}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,43},{44,45}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
            <key>hddj-8-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{40,43}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,45},{40,43}}</string>
                <key>sourceSize</key>
                <string>{328,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hddj-8.png</string>
            <key>size</key>
            <string>{305,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e896dd4fbca4bfa1409800b7ea54f0d5$</string>
            <key>textureFileName</key>
            <string>hddj-8.png</string>
        </dict>
    </dict>
</plist>
